body {
  margin-top: 60px;
}

footer {
  height: 5%; background-color: #f0f0f0;
  color: #515151;
}

.display-row {
	flex-grow: 1; height: 67vh; overflow: auto;
}

#calc-button { cursor: pointer; }
#enableSwitch { cursor: pointer; }

.dot {
	width: 30px; height: 30px; border-radius: 15px;
	border: 2px solid black; transition: background-color 0.3s, border 0.3s;
}

.dot:hover { 
	cursor: pointer; background-color: #338DFF; border: 2px solid #338DFF; }

.active-dot {
	background-color: #93FF33;
}

#modal-opener {
	cursor: pointer;
}

tr { transition: background-color 0.3s; }

tbody>tr:hover {
	background-color: lightgrey;
}

.arrow {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.up {
	border-color: rgb(139, 226, 9);
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.down {
	border-color: rgb(235, 42, 42);
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.nochange {
	height: 10px;
	width: 10px;
	background-color: lightslategray;
	border-radius: 50%;
	display: inline-block;
}

.margin-right {
	margin-right: 10px;
}

.delta-information {
	color:lightslategrey;
	font-size: smaller;
}