body {
  margin-top: 60px;
}

footer {
  height: 5%; background-color: #f0f0f0;
  color: #515151;
}

.display-row {
	flex-grow: 1; height: 65vh; overflow: auto;
}

#calc-button { cursor: pointer; }
#enableSwitch { cursor: pointer; }

.dot {
	width: 30px; height: 30px; border-radius: 15px;
	border: 2px solid black; transition: background-color 0.3s, border 0.3s;
}

.dot:hover { 
	cursor: pointer; background-color: #338DFF; border: 2px solid #338DFF; }

.active-dot {
	background-color: #93FF33;
}

#modal-opener {
	cursor: pointer;
}

tr { transition: background-color 0.3s; }

tbody>tr:hover {
	background-color: lightgrey;
}