html, body {
  font-size: 12pt; font-family: Arial sans-serif;
  color: #515151;
}

.main-window {
  width: 400px; height: 250px; display: flex;
  flex-direction: column; justify-content: flex-start;
}

.row {
  flex: 0 1 auto; display: flex; flex-direction: row;
  justify-content: flex-start;
}

.row-element {
  flex: 0 1 auto; display: flex; flex-direction: column;
  justify-content: center; text-align: center;
}
